<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarCode" version="2020.6.0" targetFramework="net452" />
  <package id="BouncyCastle" version="1.8.5" targetFramework="net452" />
  <package id="EasyTabs" version="2.0.0" targetFramework="net452" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net452" />
  <package id="FontAwesome.Sharp" version="5.15.3" targetFramework="net452" />
  <package id="FreeSpire.Barcode" version="2.3" targetFramework="net452" />
  <package id="Google.Protobuf" version="3.14.0" targetFramework="net452" />
  <package id="iTextSharp-LGPL" version="4.1.6" targetFramework="net452" />
  <package id="K4os.Compression.LZ4" version="1.2.6" targetFramework="net452" />
  <package id="K4os.Compression.LZ4.Streams" version="1.2.6" targetFramework="net452" />
  <package id="K4os.Hash.xxHash" version="1.0.6" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net452" />
  <package id="MySql.Data" version="8.0.27" targetFramework="net452" />
  <package id="MySqlBackup.NET" version="2.3.6.1" targetFramework="net452" />
  <package id="NPOI" version="2.5.2" targetFramework="net452" />
  <package id="Portable.BouncyCastle" version="1.8.6" targetFramework="net452" />
  <package id="SharpZipLib" version="1.2.0" targetFramework="net452" />
  <package id="signtool" version="10.0.17763.132" targetFramework="net452" />
  <package id="Spire.Email" version="5.5.0" targetFramework="net452" />
  <package id="SSH.NET" version="2016.1.0" targetFramework="net452" />
  <package id="Svg" version="2.4.3" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net452" />
  <package id="System.Memory" version="4.5.4" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net452" />
  <package id="Win32Interop.Dwmapi" version="1.0.1" targetFramework="net452" />
  <package id="Win32Interop.Gdi32" version="1.0.1" targetFramework="net452" />
  <package id="Win32Interop.Kernel32" version="1.0.1" targetFramework="net452" />
  <package id="Win32Interop.User32" version="1.0.1" targetFramework="net452" />
  <package id="Win32Interop.Uxtheme" version="1.0.1" targetFramework="net452" />
  <package id="XAct.Deployment.ClickOnce" version="0.0.5014.0" targetFramework="net452" />
  <package id="Zen.Barcode.Rendering.Framework" version="3.1.10729.1" targetFramework="net452" />
</packages>